// =====================================
// variables
// =====================================
$FONT_FAMILY: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Original Yu Gothic", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
$PAGE_MAX_WIDTH: 1040px;
$BREAK_POINT_01: 768px;
$DEFAULT_TEXT_COLOR: #333;
$DEFAULT_FONT_SIZE: 1.6rem;
$DEFAULT_LINE_HEIGHT: 1.5;
$DEFAULT_LINK_COLOR: #2b96bd;
$DEFAULT_BUTTON_01_COLOR: #2b96bd;

// =====================================
// function
// =====================================

// =====================================
// mixin
// =====================================
@mixin PC {
  @media screen and (min-width: $BREAK_POINT_01) {
    @content;
  }
}
@mixin SP {
  @media screen and (max-width: $BREAK_POINT_01 + 1) {
    @content;
  }
}
@mixin print{
  @media print {
    @content;
  }
}
@mixin last-mb0{
  > :last-child{
    margin-bottom: 0;
  }
}
