.p-introArea{
  position: relative;
  min-height: 100vh;
  background: url('/component/images/bg_infoarea01.jpg');
  background-size: cover;
  background-position: 50% 50%;
  &:before{
    z-index: 0;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:rgba(0, 0, 0, .5);
  }
  &__catch{
    position: relative;
    z-index: 1;
    padding-top: 30vh;
    text-align: center;
    color: #fff;
    @include PC{
      font-size: 6.2rem;
    }
    @include SP{
      font-size: 3.4rem;
    }
  }
  &__text{
    position: relative;
    z-index: 1;
    padding-top: 20vh;
    text-align: center;
    color: #fff;
    @include PC{
      font-size: 3.2rem;
      letter-spacing: 2.5px;
    }
    @include SP{
      font-size: 1.4rem;
      letter-spacing: 1.0px;
    }
    span{
      padding: 20px 0;
      border-top: 1px solid #fff;
      border-bottom: 1px solid #fff;
    }
  }
}
.p-sectionTitle{
  line-height: 1.0;
  padding-top: 60px;
  margin-bottom: 60px;
  text-align: center;
  @include PC{
    font-size: 3.6rem;
  }
  @include SP{
    font-size: 2.8rem;
  }
}
