@for $i from 0 through 20 {
  .u-w#{$i * 5} {
    width: #{$i * 5}% !important;
  }
}
@include PC{
  @for $i from 0 through 20 {
    .u-pcW#{$i * 5} {
      width: #{$i * 5}% !important;
    }
  }
}
@include SP{
  @for $i from 0 through 20 {
    .u-spW#{$i * 5} {
      width: #{$i * 5}% !important;
    }
  }
}
