body {
  max-width: 750px;
  margin: 30px auto;
}
h1 {
  font-size: 32px;
  color: #666;
  margin: 0;
}
table {
  border-collapse: collapse;
  min-width: 400px;
  margin-bottom: 20px;
}
table th {
  background: #e8ffe8;
  text-align: center;
  color: #333;
  font-weight: bold;
  padding: 8px;
  border: 1px solid #bbb;
}
table td {
  background: #fff;
  text-align: center;
  padding: 8px;
  border: 1px solid #bbb;
}
.chatmsg{
  max-width: 20rem;
  padding: 4px;
  border: 1px solid #bbb;
}

