.l-container{
  margin-right: auto;
  margin-left: auto;
  padding: 0 16px 60px;
  @include PC{
    width: $PAGE_MAX_WIDTH;
  }
  @include SP{
    padding-right: 16px;
    padding-left: 16px;
    width: 100%;
  }
}
