@charset "UTF-8";
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  -webkit-text-decoration-skip: objects;
}

ins {
  background-color: #ff0;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

small {
  font-size: 80%;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: 0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

input, select {
  vertical-align: middle;
}

img {
  border-style: none;
  vertical-align: top;
  max-width: 100%;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

@font-face {
  font-family: "Original Yu Gothic";
  src: local("Yu Gothic");
  font-weight: 300;
}

@font-face {
  font-family: "Original Yu Gothic";
  src: local("Yu Gothic");
  font-weight: 500;
}

@font-face {
  font-family: "Original Yu Gothic";
  src: local("Yu Gothic");
  font-weight: bold;
}

@font-face {
  font-family: "Helvetica Neue";
  src: local("Helvetica Neue Regular");
  font-weight: 100;
}

@font-face {
  font-family: "Helvetica Neue";
  src: local("Helvetica Neue Regular");
  font-weight: 200;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Original Yu Gothic", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
  font-size: 62.5%;
}

body {
  color: #333;
  font-size: 1.6rem;
  line-height: 1.5;
  word-wrap: break-word;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: #2b96bd;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

a img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

a img:hover {
  opacity: .8;
}

.l-footer {
  background: #333;
  color: #fff;
}

.l-footer__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.l-footer__copy {
  font-size: 1.3rem;
}

.l-container, .l-container--pb0 {
  margin-right: auto;
  margin-left: auto;
  padding: 0 16px 60px;
}

.l-container--pb0 {
  padding-bottom: 0;
}

.l-header {
  position: fixed;
  z-index: 2;
  width: 100%;
  background: rgba(245, 245, 245, 0.9);
  padding: 16px 2px 16px 2px;
}

.l-header__content {
  padding-bottom: 0;
}

.l-header__logo {
  float: left;
}

.l-header__desc {
  float: left;
  margin-left: 32px;
  font-size: 1.4rem;
  padding-top: 4px;
}

.l-header__globalNav {
  display: table;
  float: right;
}

.l-header__globalNav > li {
  display: table-cell;
}

.l-header__globalNav > li:last-child {
  padding-right: 0;
}

.l-header__globalNav > li > a {
  text-decoration: none;
  color: #666;
  font-weight: bold;
}

.l-header__globalNav > li > a:hover {
  color: #2b96bd;
}

.p-balloonTitle {
  position: relative;
  background: #fff;
  color: #666;
  font-weight: bold;
  text-align: center;
  padding: 4px 0;
  margin-bottom: 24px;
}

.p-balloonTitle:before {
  content: '';
  display: block;
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -8px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 6px solid #fff;
}

.p-blogArea__image {
  text-align: center;
  margin-bottom: 16px;
}

.p-blogArea__date {
  color: #fff;
  font-size: 1.3rem;
  display: inline-block;
  margin-right: 8px;
}

.p-blogArea__category {
  color: #fff;
  font-size: 1.3rem;
  display: inline-block;
}

.p-blogArea__title {
  color: #fff;
  font-size: 1.3rem;
}

.p-kvArea {
  position: relative;
  min-height: 100vh;
  background: url("/wp-content/themes/mytheme/images/bg_infoarea01.jpg");
  background-size: cover;
  background-position: 50% 50%;
}

.p-kvArea:before {
  z-index: 0;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.p-kvArea__catch {
  position: relative;
  z-index: 1;
  padding-top: 30vh;
  text-align: center;
  color: #fff;
}

.p-kvArea__text {
  position: relative;
  z-index: 1;
  padding-top: 20vh;
  text-align: center;
  color: #fff;
}

.p-kvArea__text span {
  padding: 20px 0;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.p-prolile--history {
  margin-bottom: 24px;
}

.p-prolile--history__title {
  display: inline-block;
  padding: 4px 8px;
  background: #ddd;
  margin-bottom: 8px;
}

.p-prolile--history__item {
  font-size: 1.6rem;
  display: table;
}

.p-prolile--history__year {
  display: table-cell;
  width: 6em;
}

.p-prolile--history__content {
  display: table-cell;
}

.p-prolile--skill {
  margin-bottom: 24px;
}

.p-prolile--skill__title {
  display: inline-block;
  padding: 4px 8px;
  background: #ddd;
  margin-bottom: 8px;
}

.p-prolile--skill__item {
  font-size: 1.4rem;
}

.p-prolile--skill__item span {
  display: inline-block;
  min-width: 7em;
}

.p-sectionTitle {
  line-height: 1.0;
  padding-top: 60px;
  margin-bottom: 60px;
  text-align: center;
}

/*
#overview
ボタン
*/
/*#styleguide
```
<a href="#" class="c-btn">ボタン</a>
<a href="#" class="c-btn --red">ボタン</a>
```
*/
.c-btn {
  background: #2b96bd;
  display: inline-block;
  text-align: center;
  min-width: 10em;
  padding: 16px;
  color: #fff;
  font-weight: bold;
  border-style: none;
}

.c-btn.--red {
  background: #bf0000;
  color: #fff;
}

/*
#overview
カラム操作
*/
/*#styleguide
2カラム
```
<div class="c-col2Block">
  <div class="c-col2Block__col">
    <p class="u-bgGray u-taC">中身のコンテンツが入ります。</p>
  </div>
  <div class="c-col2Block__col">
    <p class="u-bgGray u-taC">中身のコンテンツが入ります。</p>
  </div>
</div>
```
*/
.c-col2Block {
  font-size: 0;
  width: 100%;
  margin-bottom: -24px;
}

.c-col2Block__col {
  vertical-align: top;
  font-size: 1.6rem;
  margin-bottom: 24px;
}

/*#styleguide
3カラム
```
<div class="c-col3Block">
  <div class="c-col3Block__col">
    <p class="u-bgGray u-taC">中身のコンテンツが入ります。</p>
  </div>
  <div class="c-col3Block__col">
    <p class="u-bgGray u-taC">中身のコンテンツが入ります。</p>
  </div>
  <div class="c-col3Block__col">
    <p class="u-bgGray u-taC">中身のコンテンツが入ります。</p>
  </div>
</div>
```
*/
.c-col3Block {
  font-size: 0;
  width: 100%;
  margin-bottom: -24px;
}

.c-col3Block__col {
  vertical-align: top;
  font-size: 1.6rem;
  margin-bottom: 24px;
}

/*#styleguide
4カラム
```
<div class="c-col4Block">
  <div class="c-col4Block__col">
    <p class="u-bgGray u-taC">中身のコンテンツが入ります。</p>
  </div>
  <div class="c-col4Block__col">
    <p class="u-bgGray u-taC">中身のコンテンツが入ります。</p>
  </div>
  <div class="c-col4Block__col">
    <p class="u-bgGray u-taC">中身のコンテンツが入ります。</p>
  </div>
  <div class="c-col4Block__col">
    <p class="u-bgGray u-taC">中身のコンテンツが入ります。</p>
  </div>
</div>
```
*/
.c-col4Block {
  font-size: 0;
  width: 100%;
  margin-bottom: -24px;
}

.c-col4Block__col {
  vertical-align: top;
  font-size: 1.6rem;
  margin-bottom: 24px;
}

/*
#overview
フォーム
*/
/*#styleguide
```
<form class="c-form01">
  <dl class="c-form01__list">
    <dt class="c-form01__title">お名前</dt>
    <dd class="c-form01__input"><input type="text"></dd>
  </dl>
  <dl class="c-form01__list">
    <dt class="c-form01__title">メールアドレス</dt>
    <dd class="c-form01__input"><input type="email"></dd>
  </dl>
  <dl class="c-form01__list">
    <dt class="c-form01__title">電話番号</dt>
    <dd class="c-form01__input"><input type="tel"></dd>
  </dl>
  <dl class="c-form01__list">
    <dt class="c-form01__title">サイトURL</dt>
    <dd class="c-form01__input"><input type="url"></dd>
  </dl>
  <dl class="c-form01__list">
    <dt class="c-form01__title">お問合わせ内容</dt>
    <dd class="c-form01__input"><textarea></textarea></dd>
  </dl>
  <dl class="c-form01__list">
    <dt class="c-form01__title">住所</dt>
    <dd class="c-form01__input">
      <select name="pref_name">
        <option value="" selected>都道府県</option>
        <option value="hokkaido">北海道</option>
        <option value="aomori">青森県</option>
        <option value="iwate">岩手県</option>
        <option value="miyagi">宮城県</option>
        <option value="akita">秋田県</option>
        <option value="yamagata">山形県</option>
        <option value="fukushima">福島県</option>
        <option value="ibaraki">茨城県</option>
        <option value="tochigi">栃木県</option>
        <option value="gunma">群馬県</option>
        <option value="saitama">埼玉県</option>
        <option value="chiba">千葉県</option>
        <option value="tokyo">東京都</option>
        <option value="kanagawa">神奈川県</option>
        <option value="nigata">新潟県</option>
        <option value="toyama">富山県</option>
        <option value="ishikawa">石川県</option>
        <option value="fukuki">福井県</option>
        <option value="yamanashi">山梨県</option>
        <option value="nagano">長野県</option>
        <option value="gifu">岐阜県</option>
        <option value="sizuoka">静岡県</option>
        <option value="aichi">愛知県</option>
        <option value="mie">三重県</option>
        <option value="shiga">滋賀県</option>
        <option value="kyoto">京都府</option>
        <option value="osaka">大阪府</option>
        <option value="hyougo">兵庫県</option>
        <option value="nara">奈良県</option>
        <option value="wakayama">和歌山県</option>
        <option value="tottori">鳥取県</option>
        <option value="shimane">島根県</option>
        <option value="okayama">岡山県</option>
        <option value="hiroshima">広島県</option>
        <option value="yamaguchi">山口県</option>
        <option value="tokushima">徳島県</option>
        <option value="kagawa">香川県</option>
        <option value="ehime">愛媛県</option>
        <option value="kouchi">高知県</option>
        <option value="fukuoka">福岡県</option>
        <option value="saga">佐賀県</option>
        <option value="nagasaki">長崎県</option>
        <option value="kumamoto">熊本県</option>
        <option value="oita">大分県</option>
        <option value="miyazaki">宮崎県</option>
        <option value="kagoshima">鹿児島県</option>
        <option value="okinawa">沖縄県</option>
      </select>
    </dd>
  </dl>
  <dl class="c-form01__list">
    <dt class="c-form01__title">性別</dt>
    <dd class="c-form01__input">
      <label><input type="radio" name="sex" value="male" checked><span>男性</span></label>
      <label><input type="radio" name="sex" value="female"><span>女性</span></label>
    </dd>
  </dl>
  <dl class="c-form01__list">
    <dt class="c-form01__title">好きな果物</dt>
    <dd class="c-form01__input">
      <label><input type="checkbox" name="fluits" value="apple" checked><span>リンゴ</span></label>
      <label><input type="checkbox" name="fluits" value="banana"><span>バナナ<span></label>
    </dd>
  </dl>
  <p class="u-taC"><button type="submit" name="#" class="c-btn" value="#">送信</button></p>
</form>
```
*/
.c-form01__list {
  margin-bottom: 24px;
  font-size: 0;
}

.c-form01__title {
  font-size: 1.6rem;
  min-width: 25%;
  display: inline-block;
  vertical-align: middle;
}

.c-form01__input {
  display: inline-block;
  font-size: 1.6rem;
}

.c-form01__input > input,
.c-form01__input > textarea,
.c-form01__input > select {
  width: 100%;
  line-height: 1.5;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  vertical-align: middle;
  border: 2px solid #cfcfcf;
  padding: 4px;
}

.c-form01__input > textarea {
  min-height: 6em;
}

/*
#overview
リンク
*/
/*#styleguide
シンプルリンク
```
<a href="#" class="c-link01">シンプルリンク</a><a href="#" class="c-link01">シンプルリンク</a><a href="#" class="c-link01">シンプルリンク</a>
```
*/
.c-link01 {
  display: inline-block;
}

.c-link01:after {
  content: ">";
  display: inline-block;
  vertical-align: top;
  padding-left: 4px;
  padding-right: 8px;
}

/*#styleguide
テキストリンク
```
<p>ダミーダミーダミー<a href="#" class="c-link01--text">テキストリンク</a>ダミーダミーダミー</p>
```
*/
.c-link01--text {
  text-decoration: underline;
}

/*#styleguide
リンクリスト
```
<ul class="c-link01--list">
  <li><a href="#" class="c-link01">シンプルリンク</a></li>
  <li><a href="#" class="c-link01">シンプルリンク</a></li>
  <li><a href="#" class="c-link01">シンプルリンク</a></li>
</ul>
```
*/
.c-link01--list {
  list-style: none;
}

.c-link01--list > :last-child {
  margin-bottom: 0;
}

.c-link01--list > li {
  margin-bottom: 8px;
}

/*
#overview
リスト
*/
/*#styleguide
シンプルリスト
```
<ul class="c-listBlock01">
  <li class="c-listBlock01__item">リストアイテム1</li>
  <li class="c-listBlock01__item">リストアイテム1</li>
  <li class="c-listBlock01__item">リストアイテム1</li>
</ul>
```
*/
.c-listBlock01 > :last-child {
  margin-bottom: 0;
}

.c-listBlock01__item {
  list-style: none;
  text-indent: -1em;
  margin-bottom: 8px;
}

.c-listBlock01__item:before {
  content: "・";
}

/*#styleguide
注釈リスト
```
<ul class="c-listBlock02">
  <li class="c-listBlock02__item">リストアイテム1</li>
  <li class="c-listBlock02__item">リストアイテム1</li>
  <li class="c-listBlock02__item">リストアイテム1</li>
</ul>
```
*/
.c-listBlock02 > :last-child {
  margin-bottom: 0;
}

.c-listBlock02__item {
  list-style: none;
  text-indent: -1em;
  margin-bottom: 8px;
}

.c-listBlock02__item:before {
  content: "※";
}

/*#styleguide
注釈リスト
```
<ol class="c-listBlock03">
  <li class="c-listBlock03__item">リストアイテム1</li>
  <li class="c-listBlock03__item">リストアイテム1</li>
  <li class="c-listBlock03__item">リストアイテム1</li>
  <li class="c-listBlock03__item">リストアイテム1</li>
  <li class="c-listBlock03__item">リストアイテム1</li>
  <li class="c-listBlock03__item">リストアイテム1</li>
  <li class="c-listBlock03__item">リストアイテム1</li>
  <li class="c-listBlock03__item">リストアイテム1</li>
  <li class="c-listBlock03__item">リストアイテム1</li>
  <li class="c-listBlock03__item">リストアイテム1</li>
</ol>
```
*/
.c-listBlock03 > :last-child {
  margin-bottom: 0;
}

.c-listBlock03__item {
  list-style: none;
  text-indent: -1em;
  margin-bottom: 8px;
  counter-increment: num;
}

.c-listBlock03__item:before {
  content: counter(num) ". ";
  min-width: 1em;
}

/*
#overview
テキスト
*/
/*#styleguide
デフォルトテキスト
```
<p>デフォルトでは16px</p>
<p>余白は空かない。</p>
```
*/
/*#styleguide
p同士で下の余白を空ける場合
```
<div class="c-textBlock01">
  <p>下の余白が1em空く。</p>
  <p>下の余白が1em空く。</p>
  <p>一番最後は空かない。</p>
</div>
```
*/
.c-textBlock01 p {
  margin-bottom: 1em;
}

.c-textBlock01 p:last-child {
  margin-bottom: 0;
}

/*#styleguide
フォントサイズ
```
<div class="c-textBlock01">
  <p class="c-fzSmall">小さいテキスト 13px</p>
  <p class="c-fzMiddle">普通テキスト 16px ※スタイルリセット用</p>
  <p class="c-fzLarge">大きいテキスト 19px</p>
</div>
```
*/

/*#styleguide
Webフォント
```
<p><span class="c-fRaleway">Raleway ※スタイルガイド上では反映しません。</span></p>
```
*/
.c-fRaleway {
  font-family: 'Raleway', sans-serif;
}

.c-fadeInDown {
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  visibility: visible !important;
}

/*#styleguide
ふわっと出てくるテキスト
```
<p class="js-FadeIn01 c-fadeInDown">上からふわっと出てくる文字</p>
```
*/
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.u-taC {
  text-align: center !important;
}

.u-taL {
  text-align: left !important;
}

.u-taR {
  text-align: right !important;
}

.u-vaM {
  vertical-align: middle !important;
}

.u-vaT {
  vertical-align: top !important;
}

.u-vaB {
  vertical-align: bottom !important;
}

.u-bgWhite {
  background-color: #fff !important;
}

.u-bgGray {
  background-color: #eee !important;
}

.u-bgBlack {
  background-color: #333 !important;
  color: #fff;
}

.u-clearfix::after, .l-header::after {
  content: "";
  display: block;
  clear: both;
}

.u-dpBlock {
  display: block !important;
}

.u-dpInline {
  display: inline !important;
}

.u-dpTable {
  display: table !important;
}

.u-dpTableCell {
  display: table-cell !important;
}

.u-dpInlineBlock {
  display: inline-block !important;
}

.u-fWhite {
  color: #fff !important;
}

.u-fBlack {
  color: #333 !important;
}

.u-fBlue {
  color: #2b96bd !important;
}

.u-fwBold {
  font-weight: bold !important;
}

.u-fz10 {
  font-size: 10px !important;
}

.u-fz11 {
  font-size: 11px !important;
}

.u-fz12 {
  font-size: 12px !important;
}

.u-fz13 {
  font-size: 13px !important;
}

.u-fz14 {
  font-size: 14px !important;
}

.u-fz15 {
  font-size: 15px !important;
}

.u-fz16 {
  font-size: 16px !important;
}

.u-fz17 {
  font-size: 17px !important;
}

.u-fz18 {
  font-size: 18px !important;
}

.u-fz19 {
  font-size: 19px !important;
}

.u-fz20 {
  font-size: 20px !important;
}

.u-fz21 {
  font-size: 21px !important;
}

.u-fz22 {
  font-size: 22px !important;
}

.u-fz23 {
  font-size: 23px !important;
}

.u-fz24 {
  font-size: 24px !important;
}

.u-fz25 {
  font-size: 25px !important;
}

.u-fz26 {
  font-size: 26px !important;
}

.u-fz27 {
  font-size: 27px !important;
}

.u-fz28 {
  font-size: 28px !important;
}

.u-fz29 {
  font-size: 29px !important;
}

.u-fz30 {
  font-size: 30px !important;
}

.u-fz31 {
  font-size: 31px !important;
}

.u-fz32 {
  font-size: 32px !important;
}

.u-fz33 {
  font-size: 33px !important;
}

.u-fz34 {
  font-size: 34px !important;
}

.u-fz35 {
  font-size: 35px !important;
}

.u-fz36 {
  font-size: 36px !important;
}

.u-fz37 {
  font-size: 37px !important;
}

.u-fz38 {
  font-size: 38px !important;
}

.u-fz39 {
  font-size: 39px !important;
}

.u-fz40 {
  font-size: 40px !important;
}

.u-m0Auto {
  margin-left: auto;
  margin-right: auto;
}

.u-mt0 {
  margin-top: 0px !important;
}

.u-mb0 {
  margin-bottom: 0px !important;
}

.u-ml0 {
  margin-left: 0px !important;
}

.u-mr0 {
  margin-right: 0px !important;
}

.u-mt5 {
  margin-top: 5px !important;
}

.u-mb5 {
  margin-bottom: 5px !important;
}

.u-ml5 {
  margin-left: 5px !important;
}

.u-mr5 {
  margin-right: 5px !important;
}

.u-mt10 {
  margin-top: 10px !important;
}

.u-mb10 {
  margin-bottom: 10px !important;
}

.u-ml10 {
  margin-left: 10px !important;
}

.u-mr10 {
  margin-right: 10px !important;
}

.u-mt15 {
  margin-top: 15px !important;
}

.u-mb15 {
  margin-bottom: 15px !important;
}

.u-ml15 {
  margin-left: 15px !important;
}

.u-mr15 {
  margin-right: 15px !important;
}

.u-mt20 {
  margin-top: 20px !important;
}

.u-mb20 {
  margin-bottom: 20px !important;
}

.u-ml20 {
  margin-left: 20px !important;
}

.u-mr20 {
  margin-right: 20px !important;
}

.u-mt25 {
  margin-top: 25px !important;
}

.u-mb25 {
  margin-bottom: 25px !important;
}

.u-ml25 {
  margin-left: 25px !important;
}

.u-mr25 {
  margin-right: 25px !important;
}

.u-mt30 {
  margin-top: 30px !important;
}

.u-mb30 {
  margin-bottom: 30px !important;
}

.u-ml30 {
  margin-left: 30px !important;
}

.u-mr30 {
  margin-right: 30px !important;
}

.u-mt35 {
  margin-top: 35px !important;
}

.u-mb35 {
  margin-bottom: 35px !important;
}

.u-ml35 {
  margin-left: 35px !important;
}

.u-mr35 {
  margin-right: 35px !important;
}

.u-mt40 {
  margin-top: 40px !important;
}

.u-mb40 {
  margin-bottom: 40px !important;
}

.u-ml40 {
  margin-left: 40px !important;
}

.u-mr40 {
  margin-right: 40px !important;
}

.u-mt45 {
  margin-top: 45px !important;
}

.u-mb45 {
  margin-bottom: 45px !important;
}

.u-ml45 {
  margin-left: 45px !important;
}

.u-mr45 {
  margin-right: 45px !important;
}

.u-mt50 {
  margin-top: 50px !important;
}

.u-mb50 {
  margin-bottom: 50px !important;
}

.u-ml50 {
  margin-left: 50px !important;
}

.u-mr50 {
  margin-right: 50px !important;
}

.u-pt0 {
  padding-top: 0px !important;
}

.u-pb0 {
  padding-bottom: 0px !important;
}

.u-pl0 {
  padding-left: 0px !important;
}

.u-pr0 {
  padding-right: 0px !important;
}

.u-pt5 {
  padding-top: 5px !important;
}

.u-pb5 {
  padding-bottom: 5px !important;
}

.u-pl5 {
  padding-left: 5px !important;
}

.u-pr5 {
  padding-right: 5px !important;
}

.u-pt10 {
  padding-top: 10px !important;
}

.u-pb10 {
  padding-bottom: 10px !important;
}

.u-pl10 {
  padding-left: 10px !important;
}

.u-pr10 {
  padding-right: 10px !important;
}

.u-pt15 {
  padding-top: 15px !important;
}

.u-pb15 {
  padding-bottom: 15px !important;
}

.u-pl15 {
  padding-left: 15px !important;
}

.u-pr15 {
  padding-right: 15px !important;
}

.u-pt20 {
  padding-top: 20px !important;
}

.u-pb20 {
  padding-bottom: 20px !important;
}

.u-pl20 {
  padding-left: 20px !important;
}

.u-pr20 {
  padding-right: 20px !important;
}

.u-pt25 {
  padding-top: 25px !important;
}

.u-pb25 {
  padding-bottom: 25px !important;
}

.u-pl25 {
  padding-left: 25px !important;
}

.u-pr25 {
  padding-right: 25px !important;
}

.u-pt30 {
  padding-top: 30px !important;
}

.u-pb30 {
  padding-bottom: 30px !important;
}

.u-pl30 {
  padding-left: 30px !important;
}

.u-pr30 {
  padding-right: 30px !important;
}

.u-pt35 {
  padding-top: 35px !important;
}

.u-pb35 {
  padding-bottom: 35px !important;
}

.u-pl35 {
  padding-left: 35px !important;
}

.u-pr35 {
  padding-right: 35px !important;
}

.u-pt40 {
  padding-top: 40px !important;
}

.u-pb40 {
  padding-bottom: 40px !important;
}

.u-pl40 {
  padding-left: 40px !important;
}

.u-pr40 {
  padding-right: 40px !important;
}

.u-pt45 {
  padding-top: 45px !important;
}

.u-pb45 {
  padding-bottom: 45px !important;
}

.u-pl45 {
  padding-left: 45px !important;
}

.u-pr45 {
  padding-right: 45px !important;
}

.u-pt50 {
  padding-top: 50px !important;
}

.u-pb50 {
  padding-bottom: 50px !important;
}

.u-pl50 {
  padding-left: 50px !important;
}

.u-pr50 {
  padding-right: 50px !important;
}

.u-w0 {
  width: 0% !important;
}

.u-w5 {
  width: 5% !important;
}

.u-w10 {
  width: 10% !important;
}

.u-w15 {
  width: 15% !important;
}

.u-w20 {
  width: 20% !important;
}

.u-w25 {
  width: 25% !important;
}

.u-w30 {
  width: 30% !important;
}

.u-w35 {
  width: 35% !important;
}

.u-w40 {
  width: 40% !important;
}

.u-w45 {
  width: 45% !important;
}

.u-w50 {
  width: 50% !important;
}

.u-w55 {
  width: 55% !important;
}

.u-w60 {
  width: 60% !important;
}

.u-w65 {
  width: 65% !important;
}

.u-w70 {
  width: 70% !important;
}

.u-w75 {
  width: 75% !important;
}

.u-w80 {
  width: 80% !important;
}

.u-w85 {
  width: 85% !important;
}

.u-w90 {
  width: 90% !important;
}

.u-w95 {
  width: 95% !important;
}

.u-w100 {
  width: 100% !important;
}

@media all and (-ms-high-contrast: none) {
  html {
    font-family: Verdana, Meiryo, sans-serif;
  }
}

@media all and (-ms-high-contrast: active) {
  html {
    font-family: Verdana, Meiryo, sans-serif;
  }
}

@media screen and (min-width: 768px) {
  .l-footer {
    min-width: 1040px;
  }
  .l-contantWrap {
    min-width: 1040px;
  }
  .l-container, .l-container--pb0 {
    width: 1040px;
  }
  .l-header {
    min-width: 1040px;
  }
  .l-header__content {
    max-width: 1040px;
    margin: 0 auto;
  }
  .l-header__logo {
    width: 30px;
    height: 30px;
  }
  .l-header__globalNav {
    padding-top: 2px;
  }
  .l-header__globalNav > li {
    padding-left: 24px;
    padding-right: 24px;
  }
  .l-header__globalNav > li > a {
    font-size: 1.6rem;
  }
  .p-kvArea {
    min-width: 1040px;
  }
  .p-kvArea__catch {
    font-size: 6.2rem;
  }
  .p-kvArea__text {
    font-size: 3.2rem;
    letter-spacing: 2.5px;
  }
  .p-sectionTitle {
    font-size: 3.6rem;
  }
  .c-col2Block__col {
    display: inline-block;
    width: 48%;
    margin-right: 4%;
  }
  .c-col2Block__col:nth-of-type(2n) {
    margin-right: 0;
  }
  .c-col3Block__col {
    display: inline-block;
    width: 30%;
    margin-right: 5%;
  }
  .c-col3Block__col:nth-of-type(3n) {
    margin-right: 0;
  }
  .c-col4Block__col {
    display: inline-block;
    width: 22%;
    margin-right: 4%;
  }
  .c-col4Block__col:nth-of-type(4n) {
    margin-right: 0;
  }
  .c-form01__input {
    width: 75%;
  }
  .c-fzSmall {
    font-size: 1.3rem;
  }
  .c-fzMiddle {
    font-size: 1.6rem;
  }
  .c-fzLarge {
    font-size: 1.9rem;
  }
  .u-taPcC {
    text-align: center !important;
  }
  .u-taPcL {
    text-align: left !important;
  }
  .u-taPcR {
    text-align: right !important;
  }
  .u-vaPcM {
    vertical-align: middle !important;
  }
  .u-vaPcT {
    vertical-align: top !important;
  }
  .u-vaPcB {
    vertical-align: bottom !important;
  }
  .u-spOnly {
    display: none;
  }
  .u-dpPcBlock {
    display: block !important;
  }
  .u-dpPcInline {
    display: inline !important;
  }
  .u-dpPcTable {
    display: table !important;
  }
  .u-dpPcTableCell {
    display: table-cell !important;
  }
  .u-dpPcInlineBlock {
    display: inline-block !important;
  }
  .u-pcFwBold {
    font-weight: bold !important;
  }
  .u-pcFz10 {
    font-size: 10px !important;
  }
  .u-pcFz11 {
    font-size: 11px !important;
  }
  .u-pcFz12 {
    font-size: 12px !important;
  }
  .u-pcFz13 {
    font-size: 13px !important;
  }
  .u-pcFz14 {
    font-size: 14px !important;
  }
  .u-pcFz15 {
    font-size: 15px !important;
  }
  .u-pcFz16 {
    font-size: 16px !important;
  }
  .u-pcFz17 {
    font-size: 17px !important;
  }
  .u-pcFz18 {
    font-size: 18px !important;
  }
  .u-pcFz19 {
    font-size: 19px !important;
  }
  .u-pcFz20 {
    font-size: 20px !important;
  }
  .u-pcFz21 {
    font-size: 21px !important;
  }
  .u-pcFz22 {
    font-size: 22px !important;
  }
  .u-pcFz23 {
    font-size: 23px !important;
  }
  .u-pcFz24 {
    font-size: 24px !important;
  }
  .u-pcFz25 {
    font-size: 25px !important;
  }
  .u-pcFz26 {
    font-size: 26px !important;
  }
  .u-pcFz27 {
    font-size: 27px !important;
  }
  .u-pcFz28 {
    font-size: 28px !important;
  }
  .u-pcFz29 {
    font-size: 29px !important;
  }
  .u-pcFz30 {
    font-size: 30px !important;
  }
  .u-pcFz31 {
    font-size: 31px !important;
  }
  .u-pcFz32 {
    font-size: 32px !important;
  }
  .u-pcFz33 {
    font-size: 33px !important;
  }
  .u-pcFz34 {
    font-size: 34px !important;
  }
  .u-pcFz35 {
    font-size: 35px !important;
  }
  .u-pcFz36 {
    font-size: 36px !important;
  }
  .u-pcFz37 {
    font-size: 37px !important;
  }
  .u-pcFz38 {
    font-size: 38px !important;
  }
  .u-pcFz39 {
    font-size: 39px !important;
  }
  .u-pcFz40 {
    font-size: 40px !important;
  }
  .u-m0PcAuto {
    margin-left: auto;
    margin-right: auto;
  }
  .u-mtPc0 {
    margin-top: 0px !important;
  }
  .u-mbPc0 {
    margin-bottom: 0px !important;
  }
  .u-mlPc0 {
    margin-left: 0px !important;
  }
  .u-mrPc0 {
    margin-right: 0px !important;
  }
  .u-mtPc5 {
    margin-top: 5px !important;
  }
  .u-mbPc5 {
    margin-bottom: 5px !important;
  }
  .u-mlPc5 {
    margin-left: 5px !important;
  }
  .u-mrPc5 {
    margin-right: 5px !important;
  }
  .u-mtPc10 {
    margin-top: 10px !important;
  }
  .u-mbPc10 {
    margin-bottom: 10px !important;
  }
  .u-mlPc10 {
    margin-left: 10px !important;
  }
  .u-mrPc10 {
    margin-right: 10px !important;
  }
  .u-mtPc15 {
    margin-top: 15px !important;
  }
  .u-mbPc15 {
    margin-bottom: 15px !important;
  }
  .u-mlPc15 {
    margin-left: 15px !important;
  }
  .u-mrPc15 {
    margin-right: 15px !important;
  }
  .u-mtPc20 {
    margin-top: 20px !important;
  }
  .u-mbPc20 {
    margin-bottom: 20px !important;
  }
  .u-mlPc20 {
    margin-left: 20px !important;
  }
  .u-mrPc20 {
    margin-right: 20px !important;
  }
  .u-mtPc25 {
    margin-top: 25px !important;
  }
  .u-mbPc25 {
    margin-bottom: 25px !important;
  }
  .u-mlPc25 {
    margin-left: 25px !important;
  }
  .u-mrPc25 {
    margin-right: 25px !important;
  }
  .u-mtPc30 {
    margin-top: 30px !important;
  }
  .u-mbPc30 {
    margin-bottom: 30px !important;
  }
  .u-mlPc30 {
    margin-left: 30px !important;
  }
  .u-mrPc30 {
    margin-right: 30px !important;
  }
  .u-mtPc35 {
    margin-top: 35px !important;
  }
  .u-mbPc35 {
    margin-bottom: 35px !important;
  }
  .u-mlPc35 {
    margin-left: 35px !important;
  }
  .u-mrPc35 {
    margin-right: 35px !important;
  }
  .u-mtPc40 {
    margin-top: 40px !important;
  }
  .u-mbPc40 {
    margin-bottom: 40px !important;
  }
  .u-mlPc40 {
    margin-left: 40px !important;
  }
  .u-mrPc40 {
    margin-right: 40px !important;
  }
  .u-mtPc45 {
    margin-top: 45px !important;
  }
  .u-mbPc45 {
    margin-bottom: 45px !important;
  }
  .u-mlPc45 {
    margin-left: 45px !important;
  }
  .u-mrPc45 {
    margin-right: 45px !important;
  }
  .u-mtPc50 {
    margin-top: 50px !important;
  }
  .u-mbPc50 {
    margin-bottom: 50px !important;
  }
  .u-mlPc50 {
    margin-left: 50px !important;
  }
  .u-mrPc50 {
    margin-right: 50px !important;
  }
  .u-ptPc0 {
    padding-top: 0px !important;
  }
  .u-pbPc0 {
    padding-bottom: 0px !important;
  }
  .u-plPc0 {
    padding-left: 0px !important;
  }
  .u-prPc0 {
    padding-right: 0px !important;
  }
  .u-ptPc5 {
    padding-top: 5px !important;
  }
  .u-pbPc5 {
    padding-bottom: 5px !important;
  }
  .u-plPc5 {
    padding-left: 5px !important;
  }
  .u-prPc5 {
    padding-right: 5px !important;
  }
  .u-ptPc10 {
    padding-top: 10px !important;
  }
  .u-pbPc10 {
    padding-bottom: 10px !important;
  }
  .u-plPc10 {
    padding-left: 10px !important;
  }
  .u-prPc10 {
    padding-right: 10px !important;
  }
  .u-ptPc15 {
    padding-top: 15px !important;
  }
  .u-pbPc15 {
    padding-bottom: 15px !important;
  }
  .u-plPc15 {
    padding-left: 15px !important;
  }
  .u-prPc15 {
    padding-right: 15px !important;
  }
  .u-ptPc20 {
    padding-top: 20px !important;
  }
  .u-pbPc20 {
    padding-bottom: 20px !important;
  }
  .u-plPc20 {
    padding-left: 20px !important;
  }
  .u-prPc20 {
    padding-right: 20px !important;
  }
  .u-ptPc25 {
    padding-top: 25px !important;
  }
  .u-pbPc25 {
    padding-bottom: 25px !important;
  }
  .u-plPc25 {
    padding-left: 25px !important;
  }
  .u-prPc25 {
    padding-right: 25px !important;
  }
  .u-ptPc30 {
    padding-top: 30px !important;
  }
  .u-pbPc30 {
    padding-bottom: 30px !important;
  }
  .u-plPc30 {
    padding-left: 30px !important;
  }
  .u-prPc30 {
    padding-right: 30px !important;
  }
  .u-ptPc35 {
    padding-top: 35px !important;
  }
  .u-pbPc35 {
    padding-bottom: 35px !important;
  }
  .u-plPc35 {
    padding-left: 35px !important;
  }
  .u-prPc35 {
    padding-right: 35px !important;
  }
  .u-ptPc40 {
    padding-top: 40px !important;
  }
  .u-pbPc40 {
    padding-bottom: 40px !important;
  }
  .u-plPc40 {
    padding-left: 40px !important;
  }
  .u-prPc40 {
    padding-right: 40px !important;
  }
  .u-ptPc45 {
    padding-top: 45px !important;
  }
  .u-pbPc45 {
    padding-bottom: 45px !important;
  }
  .u-plPc45 {
    padding-left: 45px !important;
  }
  .u-prPc45 {
    padding-right: 45px !important;
  }
  .u-ptPc50 {
    padding-top: 50px !important;
  }
  .u-pbPc50 {
    padding-bottom: 50px !important;
  }
  .u-plPc50 {
    padding-left: 50px !important;
  }
  .u-prPc50 {
    padding-right: 50px !important;
  }
  .u-pcW0 {
    width: 0% !important;
  }
  .u-pcW5 {
    width: 5% !important;
  }
  .u-pcW10 {
    width: 10% !important;
  }
  .u-pcW15 {
    width: 15% !important;
  }
  .u-pcW20 {
    width: 20% !important;
  }
  .u-pcW25 {
    width: 25% !important;
  }
  .u-pcW30 {
    width: 30% !important;
  }
  .u-pcW35 {
    width: 35% !important;
  }
  .u-pcW40 {
    width: 40% !important;
  }
  .u-pcW45 {
    width: 45% !important;
  }
  .u-pcW50 {
    width: 50% !important;
  }
  .u-pcW55 {
    width: 55% !important;
  }
  .u-pcW60 {
    width: 60% !important;
  }
  .u-pcW65 {
    width: 65% !important;
  }
  .u-pcW70 {
    width: 70% !important;
  }
  .u-pcW75 {
    width: 75% !important;
  }
  .u-pcW80 {
    width: 80% !important;
  }
  .u-pcW85 {
    width: 85% !important;
  }
  .u-pcW90 {
    width: 90% !important;
  }
  .u-pcW95 {
    width: 95% !important;
  }
  .u-pcW100 {
    width: 100% !important;
  }
}

@media screen and (max-width: 769px) {
  .l-container, .l-container--pb0 {
    padding-right: 16px;
    padding-left: 16px;
    width: 100%;
  }
  .l-header__content {
    padding-left: 4px;
    padding-right: 4px;
  }
  .l-header__logo {
    width: 8%;
    max-width: 30px;
  }
  .l-header__globalNav > li {
    padding-left: 4px;
    padding-right: 4px;
  }
  .l-header__globalNav > li > a {
    font-size: 1.2rem;
  }
  .p-kvArea__catch {
    font-size: 3.4rem;
  }
  .p-kvArea__text {
    font-size: 1.4rem;
  }
  .p-sectionTitle {
    font-size: 2.8rem;
  }
  .c-form01__input {
    width: 100%;
  }
  .c-fzSmall {
    font-size: 1.3rem;
  }
  .c-fzMiddle {
    font-size: 1.6rem;
  }
  .c-fzLarge {
    font-size: 1.9rem;
  }
  .u-taSpC {
    text-align: center !important;
  }
  .u-taSpL {
    text-align: left !important;
  }
  .u-taSpR {
    text-align: right !important;
  }
  .u-vaSpM {
    vertical-align: middle !important;
  }
  .u-vaSpT {
    vertical-align: top !important;
  }
  .u-vaSpB {
    vertical-align: bottom !important;
  }
  .u-pcOnly {
    display: none;
  }
  .u-dpSpBlock {
    display: block !important;
  }
  .u-dpSpInline {
    display: inline !important;
  }
  .u-dpSpTable {
    display: table !important;
  }
  .u-dpSpTableCell {
    display: table-cell !important;
  }
  .u-dpSpInlineBlock {
    display: inline-block !important;
  }
  .u-spFwBold {
    font-weight: bold !important;
  }
  .u-spFz10 {
    font-size: 10px !important;
  }
  .u-spFz11 {
    font-size: 11px !important;
  }
  .u-spFz12 {
    font-size: 12px !important;
  }
  .u-spFz13 {
    font-size: 13px !important;
  }
  .u-spFz14 {
    font-size: 14px !important;
  }
  .u-spFz15 {
    font-size: 15px !important;
  }
  .u-spFz16 {
    font-size: 16px !important;
  }
  .u-spFz17 {
    font-size: 17px !important;
  }
  .u-spFz18 {
    font-size: 18px !important;
  }
  .u-spFz19 {
    font-size: 19px !important;
  }
  .u-spFz20 {
    font-size: 20px !important;
  }
  .u-spFz21 {
    font-size: 21px !important;
  }
  .u-spFz22 {
    font-size: 22px !important;
  }
  .u-spFz23 {
    font-size: 23px !important;
  }
  .u-spFz24 {
    font-size: 24px !important;
  }
  .u-spFz25 {
    font-size: 25px !important;
  }
  .u-spFz26 {
    font-size: 26px !important;
  }
  .u-spFz27 {
    font-size: 27px !important;
  }
  .u-spFz28 {
    font-size: 28px !important;
  }
  .u-spFz29 {
    font-size: 29px !important;
  }
  .u-spFz30 {
    font-size: 30px !important;
  }
  .u-spFz31 {
    font-size: 31px !important;
  }
  .u-spFz32 {
    font-size: 32px !important;
  }
  .u-spFz33 {
    font-size: 33px !important;
  }
  .u-spFz34 {
    font-size: 34px !important;
  }
  .u-spFz35 {
    font-size: 35px !important;
  }
  .u-spFz36 {
    font-size: 36px !important;
  }
  .u-spFz37 {
    font-size: 37px !important;
  }
  .u-spFz38 {
    font-size: 38px !important;
  }
  .u-spFz39 {
    font-size: 39px !important;
  }
  .u-spFz40 {
    font-size: 40px !important;
  }
  .u-m0SpAuto {
    margin-left: auto;
    margin-right: auto;
  }
  .u-mtSp0 {
    margin-top: 0px !important;
  }
  .u-mbSp0 {
    margin-bottom: 0px !important;
  }
  .u-mlSp0 {
    margin-left: 0px !important;
  }
  .u-mrSp0 {
    margin-right: 0px !important;
  }
  .u-mtSp5 {
    margin-top: 5px !important;
  }
  .u-mbSp5 {
    margin-bottom: 5px !important;
  }
  .u-mlSp5 {
    margin-left: 5px !important;
  }
  .u-mrSp5 {
    margin-right: 5px !important;
  }
  .u-mtSp10 {
    margin-top: 10px !important;
  }
  .u-mbSp10 {
    margin-bottom: 10px !important;
  }
  .u-mlSp10 {
    margin-left: 10px !important;
  }
  .u-mrSp10 {
    margin-right: 10px !important;
  }
  .u-mtSp15 {
    margin-top: 15px !important;
  }
  .u-mbSp15 {
    margin-bottom: 15px !important;
  }
  .u-mlSp15 {
    margin-left: 15px !important;
  }
  .u-mrSp15 {
    margin-right: 15px !important;
  }
  .u-mtSp20 {
    margin-top: 20px !important;
  }
  .u-mbSp20 {
    margin-bottom: 20px !important;
  }
  .u-mlSp20 {
    margin-left: 20px !important;
  }
  .u-mrSp20 {
    margin-right: 20px !important;
  }
  .u-mtSp25 {
    margin-top: 25px !important;
  }
  .u-mbSp25 {
    margin-bottom: 25px !important;
  }
  .u-mlSp25 {
    margin-left: 25px !important;
  }
  .u-mrSp25 {
    margin-right: 25px !important;
  }
  .u-mtSp30 {
    margin-top: 30px !important;
  }
  .u-mbSp30 {
    margin-bottom: 30px !important;
  }
  .u-mlSp30 {
    margin-left: 30px !important;
  }
  .u-mrSp30 {
    margin-right: 30px !important;
  }
  .u-mtSp35 {
    margin-top: 35px !important;
  }
  .u-mbSp35 {
    margin-bottom: 35px !important;
  }
  .u-mlSp35 {
    margin-left: 35px !important;
  }
  .u-mrSp35 {
    margin-right: 35px !important;
  }
  .u-mtSp40 {
    margin-top: 40px !important;
  }
  .u-mbSp40 {
    margin-bottom: 40px !important;
  }
  .u-mlSp40 {
    margin-left: 40px !important;
  }
  .u-mrSp40 {
    margin-right: 40px !important;
  }
  .u-mtSp45 {
    margin-top: 45px !important;
  }
  .u-mbSp45 {
    margin-bottom: 45px !important;
  }
  .u-mlSp45 {
    margin-left: 45px !important;
  }
  .u-mrSp45 {
    margin-right: 45px !important;
  }
  .u-mtSp50 {
    margin-top: 50px !important;
  }
  .u-mbSp50 {
    margin-bottom: 50px !important;
  }
  .u-mlSp50 {
    margin-left: 50px !important;
  }
  .u-mrSp50 {
    margin-right: 50px !important;
  }
  .u-ptSp0 {
    padding-top: 0px !important;
  }
  .u-pbSp0 {
    padding-bottom: 0px !important;
  }
  .u-plSp0 {
    padding-left: 0px !important;
  }
  .u-prSp0 {
    padding-right: 0px !important;
  }
  .u-ptSp5 {
    padding-top: 5px !important;
  }
  .u-pbSp5 {
    padding-bottom: 5px !important;
  }
  .u-plSp5 {
    padding-left: 5px !important;
  }
  .u-prSp5 {
    padding-right: 5px !important;
  }
  .u-ptSp10 {
    padding-top: 10px !important;
  }
  .u-pbSp10 {
    padding-bottom: 10px !important;
  }
  .u-plSp10 {
    padding-left: 10px !important;
  }
  .u-prSp10 {
    padding-right: 10px !important;
  }
  .u-ptSp15 {
    padding-top: 15px !important;
  }
  .u-pbSp15 {
    padding-bottom: 15px !important;
  }
  .u-plSp15 {
    padding-left: 15px !important;
  }
  .u-prSp15 {
    padding-right: 15px !important;
  }
  .u-ptSp20 {
    padding-top: 20px !important;
  }
  .u-pbSp20 {
    padding-bottom: 20px !important;
  }
  .u-plSp20 {
    padding-left: 20px !important;
  }
  .u-prSp20 {
    padding-right: 20px !important;
  }
  .u-ptSp25 {
    padding-top: 25px !important;
  }
  .u-pbSp25 {
    padding-bottom: 25px !important;
  }
  .u-plSp25 {
    padding-left: 25px !important;
  }
  .u-prSp25 {
    padding-right: 25px !important;
  }
  .u-ptSp30 {
    padding-top: 30px !important;
  }
  .u-pbSp30 {
    padding-bottom: 30px !important;
  }
  .u-plSp30 {
    padding-left: 30px !important;
  }
  .u-prSp30 {
    padding-right: 30px !important;
  }
  .u-ptSp35 {
    padding-top: 35px !important;
  }
  .u-pbSp35 {
    padding-bottom: 35px !important;
  }
  .u-plSp35 {
    padding-left: 35px !important;
  }
  .u-prSp35 {
    padding-right: 35px !important;
  }
  .u-ptSp40 {
    padding-top: 40px !important;
  }
  .u-pbSp40 {
    padding-bottom: 40px !important;
  }
  .u-plSp40 {
    padding-left: 40px !important;
  }
  .u-prSp40 {
    padding-right: 40px !important;
  }
  .u-ptSp45 {
    padding-top: 45px !important;
  }
  .u-pbSp45 {
    padding-bottom: 45px !important;
  }
  .u-plSp45 {
    padding-left: 45px !important;
  }
  .u-prSp45 {
    padding-right: 45px !important;
  }
  .u-ptSp50 {
    padding-top: 50px !important;
  }
  .u-pbSp50 {
    padding-bottom: 50px !important;
  }
  .u-plSp50 {
    padding-left: 50px !important;
  }
  .u-prSp50 {
    padding-right: 50px !important;
  }
  .u-spW0 {
    width: 0% !important;
  }
  .u-spW5 {
    width: 5% !important;
  }
  .u-spW10 {
    width: 10% !important;
  }
  .u-spW15 {
    width: 15% !important;
  }
  .u-spW20 {
    width: 20% !important;
  }
  .u-spW25 {
    width: 25% !important;
  }
  .u-spW30 {
    width: 30% !important;
  }
  .u-spW35 {
    width: 35% !important;
  }
  .u-spW40 {
    width: 40% !important;
  }
  .u-spW45 {
    width: 45% !important;
  }
  .u-spW50 {
    width: 50% !important;
  }
  .u-spW55 {
    width: 55% !important;
  }
  .u-spW60 {
    width: 60% !important;
  }
  .u-spW65 {
    width: 65% !important;
  }
  .u-spW70 {
    width: 70% !important;
  }
  .u-spW75 {
    width: 75% !important;
  }
  .u-spW80 {
    width: 80% !important;
  }
  .u-spW85 {
    width: 85% !important;
  }
  .u-spW90 {
    width: 90% !important;
  }
  .u-spW95 {
    width: 95% !important;
  }
  .u-spW100 {
    width: 100% !important;
  }
}
