/*----------------------
base style
------------------------*/
html {
  font-size: 62.5%;
}
*, *:before, *:after {
  box-sizing: border-box
}
body {
  font-size: $DEFAULT_FONTSIZE;
  font-family: $FONT_FAMILY;
  line-height: 1.5;
}
ul {
  list-style: none;
  padding: 0;
}
a {
  color: #131313;
  text-decoration: none;
}
img {
  vertical-align: top;
  width: 100%;
}

/*---- layout -----*/
.l-contentSection {
  margin: 0 0 20px;
  min-width: $CONTENTS_WIDTH;
  @include SP {
    width: 100%;
    min-width: auto;
  }
}
.l-contentInner {
  width: $CONTENTS_WIDTH;
  margin: 0 auto;
  @include SP {
    width: 100%;
    padding: 0 $SP_SIDE_PADDING;
  }
}
/*----------------------
header
------------------------*/
.l-header {
  padding: 45px 0 41px;
  min-width: $CONTENTS_WIDTH;
  @include SP {
    width: 100%;
    min-width: auto;
    padding: 28px $SP_SIDE_PADDING;
  }
  &_inner {
    position: relative;
    &.is-close {
      z-index: 100;
    }
  }
}
.p-logo {
  display: block;
  background: url("../images/logo.svg") top center no-repeat;
  background-position-x: 51.5%;
  height: 65px;
  overflow: hidden;
  margin: 0;
  white-space: nowrap;
  text-indent: 100%;
  @include SP {
    height: 33px;
  }
}
.p-nav {
  position: absolute;
  top: 4px;
  left: 0;
  z-index: 4;
  @include SP {
    font-size: 0.7rem;
  }
  &_title {
    @include SP {
      margin-top: -1px;
    }
  }
  &_list {
    margin-top: 50px;
    display: none;//ナビ切り替え用クラス
    &_item {
      font-weight: bold;
      font-size: 6.0rem;
      margin: 10px 0;
      & a {
        color: #fff;
      }
    }
  }
}

.c-overRay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100vw;
  height: 120vw;
  background: #000;
  opacity: 0.8;
  display: none;
}

.is-close {
  & .p-logo {
    background: url("../images/logo_closed.svg") top center no-repeat;
    background-size: 72px;
  }
  & .p-headerCatch {
    color: #fff;
  }
  & .p-nav_title {
    color: #fff;
  }
  & .p-switchButton {
    &:before {
      background: #fff;
      transform: rotate(45deg);
      top: 22px;
    }
    &:after {
      background: #fff;
      transform: rotate(135deg);
      top: 22px;
    }
  }
}

.p-switchButton {
  padding-left: 44px;
  &:hover {
    cursor: pointer;
  }
  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 18px;
    left: 0;
    width : 30px;
    height: 4px;
    background: #000;
  }
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 28px;
    left: 0;
    width : 30px;
    height: 4px;
    background: #000;
  }
  @include SP {
    padding-left: 20px;
    &:before {
      top: 7px;
      left: 0;
      width : 15px;
      height: 2px;
      background: #000;
    }
    &:after {
      top: 13px;
      left: 0;
      width : 15px;
      height: 2px;
    }
  }
}
.p-headerCatch {
  font-size: 1.2rem;
  position: absolute;
  top: -0.3em;
  letter-spacing: 0.6px;
  line-height: 1.7;
  right: 0;
  @include SP {
    letter-spacing: 0.3px;
    font-size: 0.6rem;
  }
}
/*----------------------
footer
------------------------*/
.l-footer {
  min-width: $CONTENTS_WIDTH;
  @include SP {
    width: 100%;
    min-width: auto;
  }
}
.p-footer {
  padding: 20px 0 20px;
  @include SP {
    margin-bottom: 0px;
  }
  &_logo {
    text-align: center;
    margin: 80px 0 40px;
    @include SP {
      margin: 31px 0 20px;
    }
    & img {
      max-width: 239px;
      @include SP {
        width: 120px;
        margin-right: 13px;
      }
    }
  }
  &_text {
    font-size: 1.8rem;
    margin: 0 auto 70px;
    line-height: 2.2;
    width: 73%;
    @include SP {
      width: 100%;
      font-weight: bold;
      letter-spacing: 0.6px;
      font-size: 0.9rem;
      line-height: 2.3;
      margin-bottom: 29px;
    }
  }
  &_copy {
    font-size: 1.8rem;
    background: #6d6d6d;
    color: #fff;
    text-align: center;
    padding: 30px 0 30px;
    @include SP {
      font-weight: normal;
      font-size: 0.9rem;
      line-height: 2.3;
      letter-spacing: 1.0px;
      padding: 12px 0 12px;
    }
  }
}

/*----------------------
toTopPage
------------------------*/
.p-toTopPage {
  position: fixed;
  bottom: 140px;
  right: 50px;
  @include SP {
    bottom: 30px;
    right: 18px;
  }
  z-index: 2;
  & a {
    display: block;
    width: 44px;
    height: 44px;
    background: url("../images/img_toPageTop01.png") center center no-repeat;
    transition: all 0.5s ease;
    &:hover {
      background-position-y: 5px;
    }
  }
}

/*----------------------
common parts
------------------------*/
/*---- sectionTitle -----*/
.c-sectionTitle {
  font-size: 5.0rem;
  line-height: 1.0;
  letter-spacing: 0.18em;
  margin: 0 0 7px;
  @include SP {
    font-size: 2.5rem;
    margin: 0;
  }
}
.c-middleTitle {
  font-size: 2.0rem;
  letter-spacing: 0.06em;
  margin: 0 0 10px;
  font-weight: bold;
  @include SP {
    font-size: 1.0rem;
    margin: 0 0 6px;
  }
}
.c-more {
  margin: 0;
  text-align: right;
  &Link {
    display: inline-block;
    line-height: 1.0;
    font-size: 1.8rem;
    padding-right: 120px;
    position: relative;
    background: url("../images/img_arrow01.png") top left no-repeat;
    background-position-x: -20px;
    transition: background-position 0.5s ease-out;
    @include SP {
      font-size: 1.0rem;
      padding-right: 63px;
      background-position-y: -4px;
      background-position-x: -55px;
    }
    &:hover {
      background-position-x: 60px;
      @include SP {
        background-position-x: -22px;
      }
    }
    &:before {
      content: 'MORE';
      position: absolute;
      background: #fff;
      top: 0;
      left: 0;
      width: 3.5em;
      height: 1em;
      text-align: left;
      line-height: 1.0;
      right: 40px;
    }
  }
}
