/*----------------------
base style
------------------------*/
html {
  font-size: 62.5%;
}
*, *:before, *:after {
  box-sizing: border-box
}
body {
  font-size: $DEFAULT_FONTSIZE;
  font-family: $FONT_FAMILY;
  line-height: 1.5;
}
ul {
  list-style: none;
  padding: 0;
}
a {
  color: #131313;
  text-decoration: none;
}
img {
  vertical-align: top;
  width: 100%;
}
object {
  pointer-events: none;
}

/*---- layout -----*/
.l-wrap {
  padding-top: 154px;
  @include SP {
    padding-top: 89px;
  }
}
.l-contentSection {
  padding-top: 100px;
  margin: -100px 0 20px;
  min-width: $CONTENTS_WIDTH;
  @include SP {
    padding-top: 50px;
    margin: -50px 0 20px;
    width: 100%;
    min-width: auto;
  }
  &.-middleWidth {
    & .l-contentInner {
      padding: 0 142px;
      @include SP {
        padding: 0 20px;
      }
    }
  }
}
.l-contentInner {
  width: $CONTENTS_WIDTH;
  margin: 0 auto;
  @include SP {
    width: 100%;
    padding: 0 $SP_SIDE_PADDING;
  }
}
/*----------------------
header
------------------------*/
.l-header {
  padding: 48px 0 32px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  background: #fff;
  width: 100%;
  min-width: $CONTENTS_WIDTH;
  transition: opacity,padding 0.5s ease-in;
  @include SP {
    width: 100%;
    min-width: auto;
    padding: 28px 0;
  }
  &:after {
    content: '';
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
    background-size: 900% 900%;
  }
  &.is-fixed {
    padding-top: 8px;
    padding-bottom: 8px;
    opacity: 0.8;
    &.is-close {
      opacity: 1.0;
    }
  }
  &.is-loaded {
    &:after {
      display: block;
      animation: extendbar 0.4s ease, rainbow 6s ease infinite;
      @keyframes rainbow {
        0% {background-position: 0% 100%;}
        50% {background-position: 100% 200%;}
        100% {background-position: 0% 100%;}
      }
      @keyframes extendbar {
        0% {width: 0%;}
        100% {width: 100%;}
      }
    }
  }
  &_inner {
    position: relative;
    @include SP {
      padding-left: $SP_SIDE_PADDING;
      padding-right: $SP_SIDE_PADDING;
    }
  }
}
.p-logo {
  position: relative;
  display: block;
  width: 110px;
  margin: 0 auto;
  @include SP {
    height: 33px;
  }
  & a {
    display: block;
    width: 100%;
    height: 100%;
  }
  & #logoSVG {
    width: 83px;
    margin-left: 29px;
    @include SP {
      width: 42px;
      margin-left: 37px;
    }
  }
}
.p-nav {
  position: absolute;
  top: 4px;
  left: 0;
  @include SP {
    font-size: 0.7rem;
    left: 20px;
  }
  &_title {
    font-weight: bold;
    @include SP {
      margin-top: -1px;
    }
  }
  &_list {
    margin-top: 55px;
    display: none;
    @include SP {
      margin-top: 29px;
    }
    &_item {
      font-weight: bold;
      font-size: 6.0rem;
      line-height: 1.5;
      @include SP {
        font-size: 3.0rem;
      }
      & a {
        color: #fff;
        letter-spacing: 2px;
      }
    }
  }
}

.c-overRay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100vw;
  height: 120vh;
  background: #000;
  opacity: 0.9;
  display: none;
}

.is-close {
  &.l-header {
    background: transparent;
  }
  & .p-headerCatch {
    color: #fff;
  }
  & .p-nav_title {
    transition: all 0.5s ease;
    opacity: 0;
  }
  & .p-nav_list {
    display: block;
  }
  & .p-switchButton {
    &:before {
      width: 50px;
      height: 6px;
      transition: all 0.5s ease;
      background: #fff;
      transform: rotate(45deg);
      top: 28px;
      @include SP {
        width: 24px;
        height: 3px;
        top: 7px;
      }
    }
    &:after {
      width: 50px;
      height: 6px;
      transition: all 0.5s ease;
      background: #fff;
      transform: rotate(135deg);
      top: 28px;
      @include SP {
        width: 24px;
        height: 3px;
        top: 7px;
      }
    }
  }
}

.p-switchButton {
  padding-left: 44px;
  &:hover {
    cursor: pointer;
  }
  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 18px;
    left: 0;
    width : 30px;
    height: 4px;
    background: #000;
    transition: all 0.5s ease;
  }
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 28px;
    left: 0;
    width : 30px;
    height: 4px;
    background: #000;
    transition: all 0.5s ease;
  }
  @include SP {
    padding-left: 20px;
    &:before {
      top: 7px;
      left: 0;
      width : 15px;
      height: 2px;
      background: #000;
    }
    &:after {
      top: 13px;
      left: 0;
      width : 15px;
      height: 2px;
    }
  }
}
.p-headerCatch {
  font-size: 1.2rem;
  position: absolute;
  top: -0.3em;
  letter-spacing: 0.6px;
  line-height: 1.7;
  right: 0;
  @include SP {
    letter-spacing: 0.3px;
    font-size: 0.6rem;
    right: 20px;
  }
}
/*----------------------
footer
------------------------*/
.l-footer {
  min-width: $CONTENTS_WIDTH;
  @include SP {
    width: 100%;
    min-width: auto;
  }
}
.p-footer {
  padding: 20px 0 20px;
  @include SP {
    margin-bottom: 0px;
  }
  &_logo {
    text-align: center;
    margin: 80px 0 40px;
    @include SP {
      margin: 31px 0 20px;
    }
    & img {
      max-width: 239px;
      @include SP {
        width: 120px;
        margin-right: 13px;
      }
    }
  }
  &_text {
    font-size: 1.8rem;
    font-weight: bold;
    margin: 0 auto 70px;
    padding-left: 20px;
    line-height: 2.2;
    letter-spacing: 0.03em;
    width: 73%;
    @include SP {
      width: 100%;
      font-weight: bold;
      letter-spacing: 0.6px;
      font-size: 0.9rem;
      line-height: 2.3;
      padding-left: 0;
      margin-bottom: 29px;
    }
    & a {
      text-decoration: underline;
    }
  }
  &_copy {
    font-size: 1.8rem;
    background: #6d6d6d;
    color: #fff;
    text-align: center;
    padding: 30px 0 30px;
    @include SP {
      font-weight: normal;
      font-size: 0.9rem;
      line-height: 2.3;
      letter-spacing: 1.0px;
      padding: 12px 0 12px;
    }
  }
}

/*----------------------
toTopPage
------------------------*/
.p-toTopPage {
  position: fixed;
  bottom: 50px;
  right: 50px;
  @include SP {
    bottom: 30px;
    right: 18px;
  }
  z-index: 1;
  & a {
    display: block;
    width: 44px;
    height: 44px;
    background: url("../images/img_toPageTop01.png") center center no-repeat;
    transition: all 0.5s ease;
    &:hover {
      background-position-y: 5px;
    }
  }
}

/*----------------------
common parts
------------------------*/
/*---- sectionTitle -----*/
.c-sectionTitle {
  font-size: 5.0rem;
  line-height: 1.0;
  letter-spacing: 0.07em;
  margin: 0 0 7px;
  @include SP {
    font-size: 2.5rem;
    margin: 0;
  }
}
.c-middleTitle {
  font-size: 2.0rem;
  letter-spacing: 0.06em;
  margin: 0 0 10px;
  font-weight: bold;
  @include SP {
    font-size: 1.0rem;
    margin: 0 0 6px;
  }
}
.c-more {
  margin: 0;
  text-align: right;
  &Link {
    display: inline-block;
    line-height: 1.0;
    font-size: 1.8rem;
    padding-right: 120px;
    position: relative;
    background: url("../images/img_arrow01.png") top left no-repeat;
    background-position-x: -20px;
    transition: background-position 0.5s ease-out;
    @include SP {
      font-size: 1.0rem;
      padding-right: 63px;
      background-position-y: -4px;
      background-position-x: -55px;
    }
    &.is-fired {
      background-position-x: 60px;
      @include SP {
        background-position-x: -22px;
      }
    }
    &:before {
      content: 'MORE';
      position: absolute;
      background: #fff;
      top: 0;
      left: 0;
      width: 3.5em;
      height: 1em;
      text-align: left;
      line-height: 1.0;
      right: 40px;
    }
  }
}
/*---- tagCloud -----*/
.p-tagCloud {
  & a {
    display: inline-block;
    min-width: 125px;
    text-align: center;
    font-size: 1.8rem !important;
    padding:3px 8px;
    margin-right: 5px;
    color: #2e76ce;
    border: 2px solid #2e76ce;
    border-radius: 5px;
    transition: all 0.5s ease;
    @include SP {
      padding: 0 4px;
      min-width: 100px;
      border: 1px solid #2e76ce;
      font-size: 1.2rem !important;
    }
    &:hover {
      background: #2e76ce;
      color: #fff;
    }
  }
}

/*----------------------
fadeIn-animation
------------------------*/
.js-fadeIn {
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.6, 0.5, 0.5, 0.75);
  transform: translateY(40px);
  &.is-fired {
    opacity: 1.0;
    transform: translateY(0);
  }
}

/*----------------------
type-animation
------------------------*/
.js-type {
  opacity: 0;
  & span {
    opacity: 0;
  }
}
