/*----------------------
TOP KV
------------------------*/
$KV_HEIGHT_PC: 425px;
$KV_HEIGHT_SP: 141px;
.p-kv {
  background: #fff top center no-repeat;
  background-image: url("../images/img_kv_01.jpg");
  background-size: cover;
  position: relative;
  width: 100%;
  min-width: $CONTENTS_WIDTH;
  margin-bottom: 209px;
  @include SP {
    width: 100%;
    min-width: auto;
    margin-bottom: 58px;
  }
  &_catch {
    font-size: 7.0rem;
    position: absolute;
    bottom: -28px;
    left: 0;
    margin: 0;
    font-weight: bold;
    color: #fff;
    @include SP {
      bottom: -4px;
      font-size: 2.7rem;
      line-height: 1;
      padding: 0 20px;
    }
  }
  &_desc {
    font-size: 1.8rem;
    position: absolute;
    bottom: -66px;
    letter-spacing: 2px;
    left: 0;
    @include SP {
      top: 140px;
      bottom: 0;
      padding: 0 20px;
      font-size: 0.9rem;
      letter-spacing: 1px;
    }
  }
  &:after {
    content: '';
    width: 2px;
    height: 80px;
    background: url("../images/img_kv_line01.png") top center no-repeat;
    position: absolute;
    left: 50%;
    bottom: -154px;
    margin-left: -1px;
    @include SP {
      width: 1px;
      height: 26px;
      bottom: -52px;
      margin-left: -2px;
      background-size: contain;
    }
  }
}
.l-kv_inner {
  position: relative;
  min-height: $KV_HEIGHT_PC;
  @include SP {
    min-height: $KV_HEIGHT_SP;
  }
}
/*----------------------
TOP WORKS
------------------------*/
.-works {
  & .c-more {
    text-align: right;
  }
}
.p-worksList {
  margin: 51px 0 39px;
  font-size: 0;
  @include SP {
    margin: 0;
  }
  &_item {
    position: relative;
    display: inline-block;
    vertical-align: top;
    height: 340px;
    width: 50%;
    transition: all 0.5s ease;
    @include SP {
      width: 100%;
      height: 220px;
      background-size: cover;
    }
    & a {
      position: relative;
      display: inline-block;
      vertical-align: top;
      width: 100%;
      height: 100%;
      padding: 20px 40px;
      @include SP {
        padding: 14px 20px;
      }
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity 0.5s ease;
      }
      &:hover {
        &:before {
          opacity: 0.5;
          background: linear-gradient(90deg, #c1de41, #3993f4);
        }
      }
    }
    &:nth-of-type(1) {
      background-image: url("../images/img_bg_work01.jpg");
    }
    &:nth-of-type(2) {
      background-image: url("../images/img_bg_work02.jpg");
    }
    &:nth-of-type(3) {
      background-image: url("../images/img_bg_work03.jpg");
    }
    &:nth-of-type(4) {
      background-image: url("../images/img_bg_work04.jpg");
    }
    &:nth-of-type(2n) {
      position: relative;
      top: -64px;
      @include SP {
        top: 0;
      }
    }
    &_title {
      color: #fff;
      letter-spacing: 0.12em;
      font-size: 3.0rem;
      @include SP {
        font-size: 2.4rem;
        line-height: 1.2;
      }
    }
    &_desc {
      color: #fff;
      letter-spacing: 0.2em;
      font-size: 1.8rem;
      @include SP {
        font-size: 1.2rem;
        letter-spacing: 1.8px;
      }
    }
  }
}

/*----------------------
TOP SERVICE
------------------------*/
.-service {
  @include SP {
    margin-bottom: 25px;
  }
  & .c-more {
    text-align: right;
    &:nth-of-type(1) {
      margin-right: 52px;
      @include SP {
        margin-right: 0;
      }
    }
    &:nth-of-type(2) {
      margin-right: 11px;
      @include SP {
        margin-right: 0;
      }
    }
  }
}
.p-serviceList {
  margin-bottom: 71px;
  @include SP {
    margin: 0;
  }
  &_item {
    margin: 28px 0 52px;
    width: 100%;
    overflow: hidden;
    @include SP {
      margin: 0 0 14px;
    }
    &:nth-of-type(1) {
      & .p-serviceList_itemImg {
        width: 581px;
        float: left;
      }
      & .p-serviceList_itemText {
        float: right;
        padding-left: 59px;
      }
    }
    &:nth-of-type(2) {
      & .p-serviceList_itemImg {
        width: 581px;
        float: right;
      }
      & .p-serviceList_itemText {
        float: left;
        padding-right: 59px;
      }
    }
    &Img {
      @include SP {
        width: 100% !important;
        float: none !important;
        margin-bottom: 10px;
      }
    }
    &Text {
      width: 443px;
      @include SP {
        width: 100% !important;
        padding: 0 !important;
        float: none !important;
      }
      &_title {
        margin: 0 0 30px;
        font-size: 2.0rem;
        @include SP {
          font-size: 1.6rem;
          line-height: 1.4;
          letter-spacing: 0.5px;
          margin-bottom: 0;
        }
      }
      &_desc {
        margin: 0 0 30px;
        font-size: 1.4rem;
        line-height: 1.85;
        @include SP {
          font-size: 1.2rem;
          line-height: 1.72;
          margin-bottom: 0;
        }
      }
    }
  }
}
/*----------------------
TOP BLOG
------------------------*/
.-blog {
  margin-bottom: 145px;
  @include SP {
    margin-bottom: 14px;
  }
  & .c-sectionTitle {
    margin-bottom: 15px;
    @include SP {
      margin-bottom: 5px;
    }
  }
  & .c-more {
    text-align: right;
    margin-top: -15px;
  }
}
.p-blogList {
  font-size: 0;
  margin: 26px 0 0;
  @include SP {
    margin: 0;
  }
  &_item {
    display: inline-block;
    position: relative;
    width: 50%;
    @include SP {
      width: 100%;
    }
    &:nth-of-type(2n) {
      top: -84px;
      @include SP {
        top: 0;
      }
    }
    & a {
      display: block;
      width: 100%;
      transition: all 0.5s ease;
      &:hover {
        opacity: 0.6;
      }
    }
    &Img {
      margin-bottom: 22px;
      @include SP {
        margin-bottom: 10px;
      }
      & img {
        height: auto;
      }
    }
    &Text {
      font-size: 1.4rem;
      padding: 0 38px 54px;
      @include SP {
        padding: 0 0 15px;
      }
      &_date {
        font-size: 1.6rem;
        font-weight: bold;
        color: #babfc4;
        @include SP {
          font-size: 0.8rem;
        }
      }
      &_title {
        font-size: 2.0rem;
        margin-bottom: 17px;
        @include SP {
          font-size: 1.5rem;
          line-height: 1.4;
          letter-spacing: 0.9px;
          margin-bottom: 0;
        }
      }
      &_desc {
        line-height: 2.1;
        @include SP {
          font-size: 1.2rem;
          line-height: 1.72;
          margin-bottom: 0;
        }
      }
    }
  }
}
/*----------------------
TOP COMPANY
------------------------*/
.-company {
  margin-bottom: 70px;
  @include SP {
    margin-bottom: 14px;
  }
  & .p-contentBlock {
    &:nth-of-type(1) {
      position: relative;
      background: url("../images/img_bg_company01.jpg") right top no-repeat;
      background-position-y: 30px;
      min-height: 430px;
      padding-top: 65px;
      @include SP {
        padding-top: 0;
        padding-bottom: 214px;
        min-height: 300px;
        background: url("../images/img_bg_company01_sp.jpg") right top no-repeat;
        background-size: contain;
        background-position: left bottom;
      }
      & .c-middleTitle {
        margin-bottom: 28px;
        @include SP {
          margin-bottom: 6px;
        }
      }
      & .p-contentDesc {
        line-height: 1.7;
        margin-bottom: 21px;
        @include SP {
          margin-top: 0;
          margin-bottom: 0;
          font-size: 1.2rem;
          line-height: 1.72;
          margin-bottom: 0;
        }
      }
      & .p-contentBlock_textArea {
        width: 310px;
        @include SP {
          width: 100%;
        }
      }
    }
    &:nth-of-type(2) {
      position: relative;
      padding-left: 390px;
      background: url("../images/img_bg_company02.jpg") left 120px no-repeat, url("../images/img_bg_company03.jpg") right top no-repeat;
      @include SP {
        background: url("../images/img_bg_company02_sp.jpg") left 120px no-repeat, url("../images/img_bg_company03_sp.jpg") right top no-repeat;
        background-size: 100vw auto, 100vw auto;
        background-position: left 50vw, left top;
        padding-left: 0;
      }
      & .c-middleTitle {
        padding-top: 153px;
        margin-bottom: 30px;
        @include SP {
          padding-top: 118vw;
          font-size: 1.5rem;
          margin-bottom: 0;
        }
      }
      & .p-contentDesc {
        margin-bottom: 0px;
        line-height: 2.0;
        @include SP {
          font-size: 1.0rem;
        }
        &.-rep {
          margin-bottom: 22px;
          @include SP {
            margin: 0;
          }
        }
        &.-profile {
          margin-bottom: 26px;
          @include SP {
            margin: 0;
          }
        }
      }
      & .p-contentBlock_textArea {
        width: 265px;
        @include SP {
          width: 100%;
        }
      }
    }
    &:nth-of-type(3) {
      & .p-contentBlock_textArea {
        width: 295px;
        margin-left: auto;
        margin-top: -196px;
        @include SP {
          padding-top: 20px;
          font-size: 1.0rem;
          width: 100%;
          margin: 0;
        }
      }
    }
  }
}
.p-company_catch {
  position: absolute;
  top: 334px;
  left: 113px;
  line-height: 1.3;
  z-index: 1;
  font-size: 4.0rem;
  font-weight: bold;
  @include SP {
    color: #fff;
    font-size: 2.3rem;
    width: 100%;
    top: 269px;
    left: 16px;
    line-height: 1.2;
  }
}
/*----------------------
TOP MAP
------------------------*/
#map {
  margin: 0;
  width: 100%;
  height: 400px;
  @include SP {
    height: 180px;
  }
}
/*----------------------
TOP FORM
------------------------*/
.-mailForm {
  background: #e8e8e8;
  padding: 110px 0 120px;
  @include SP {
    padding: 23px 0 30px;
  }
  & .c-sectionTitle {
    text-align: center;
    margin-bottom: 20px;
    @include SP {
      margin-bottom: 0px;
    }
  }
}
.mailForm{
  &_desc {
    font-size: 1.6rem;
    line-height: 1.9;
    font-weight: bold;
    text-align: center;
    margin-bottom: 25px;
    @include SP {
      font-size: 1.2rem;
      line-height: 1.75;
      font-weight: normal;
      margin: 0 0 27px;
    }
  }
  &_entry {
    width :73%;
    margin: 0 auto;
    @include SP {
      width: 100%;
    }
    & input, textarea {
      font-size: 1.6rem;
      line-height: 1.2;
      padding: 20px;
      border: none;
      display: inline-block;
      width: 100%;
      margin: 0 auto 20px;
      @include SP {
        font-size: 1.2rem;
        padding: 8px;
        margin-bottom: 10px;
      }
    }
    & textarea {
      min-height: 10em;
      @include SP {
        min-height: 7em;
      }
    }
    & button {
      position: relative;
      outline: none;
      padding: 20px;
      border: none;
      margin-top: 10px;
      width: 100%;
      background: #000;
      font-size: 1.8rem;
      letter-spacing: 0.08em;
      color: #fff;
      transition: all 0.5s ease;
      @include SP {
        margin-top: 0;
        font-size: 1.2rem;
        padding: 8px;
      }
      &:hover {
        cursor: pointer;
        opacity: 0.6;
      }
      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        right: 20px;
        width: 14px;
        height: 1px;
        margin-top: -5px;
        background: #fff;
        transform: rotate(35deg);
      }
      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        right: 20px;
        width: 14px;
        height: 1px;
        margin-top: 3px;
        background: #fff;
        transform: rotate(145deg);
      }
    }
  }
}

/*----------------------
Helper class
------------------------*/

