.l-footer{
  background: #333;
  color: #fff;
  @include PC{
    min-width: $PAGE_MAX_WIDTH;
  }
  &__inner{
    display: flex;
    min-height: 100px;
    align-items: center;
    justify-content: center;
  }
  &__copy{
    font-size: 1.3rem;
  }
}
