/*
#overview
ボタン
*/

/*#styleguide
```
<a href="#" class="c-btn">ボタン</a>
<a href="#" class="c-btn -outline">ボタン</a>
<a href="#" class="c-btn -radious">ボタン</a>
```
*/

.c-btn{
  background: $DEFAULT_BUTTON_01_COLOR;
  border: 1px solid $DEFAULT_BUTTON_01_COLOR;
  display: inline-block;
  text-align: center;
  min-width: 10em;
  padding: 1.0rem;
  color: #fff;
  font-weight: bold;
  &:hover{
    opacity: .8;
  }
  &.-outline{
    background: transparent;
    color: $DEFAULT_BUTTON_01_COLOR;
    &:hover{
      color: #fff;
      background: $DEFAULT_BUTTON_01_COLOR;
      opacity: 1.0;
    }
  }
  &.-radious{
    border-radius: 5px;
  }
}
