/*
#overview
カラム操作
*/

/*#styleguide
2カラム
```
<div class="c-col2Block">
  <div class="c-col2Block__col">
    <p class="u-bgGray u-taC">中身のコンテンツが入ります。</p>
  </div>
  <div class="c-col2Block__col">
    <p class="u-bgGray u-taC">中身のコンテンツが入ります。</p>
  </div>
</div>
```
*/
.c-col2Block{
  font-size: 0;
  width: 100%;
  margin-bottom: -24px;
  &__col{
    vertical-align: top;
    font-size: 1.6rem;
    margin-bottom: 24px;
    @include PC{
      display: inline-block;
      width: 48%;
      margin-right: 4%;
      &:nth-of-type(2n){
        margin-right: 0;
      }
    }
  }
}

/*#styleguide
3カラム
```
<div class="c-col3Block">
  <div class="c-col3Block__col">
    <p class="u-bgGray u-taC">中身のコンテンツが入ります。</p>
  </div>
  <div class="c-col3Block__col">
    <p class="u-bgGray u-taC">中身のコンテンツが入ります。</p>
  </div>
  <div class="c-col3Block__col">
    <p class="u-bgGray u-taC">中身のコンテンツが入ります。</p>
  </div>
</div>
```
*/
.c-col3Block{
  font-size: 0;
  width: 100%;
  margin-bottom: -24px;
  &__col{
    vertical-align: top;
    font-size: 1.6rem;
    margin-bottom: 24px;
    @include PC{
      display: inline-block;
      width: 30%;
      margin-right: 5%;
      &:nth-of-type(3n){
        margin-right: 0;
      }
    }
  }
}

/*#styleguide
4カラム
```
<div class="c-col4Block">
  <div class="c-col4Block__col">
    <p class="u-bgGray u-taC">中身のコンテンツが入ります。</p>
  </div>
  <div class="c-col4Block__col">
    <p class="u-bgGray u-taC">中身のコンテンツが入ります。</p>
  </div>
  <div class="c-col4Block__col">
    <p class="u-bgGray u-taC">中身のコンテンツが入ります。</p>
  </div>
  <div class="c-col4Block__col">
    <p class="u-bgGray u-taC">中身のコンテンツが入ります。</p>
  </div>
</div>
```
*/
.c-col4Block{
  font-size: 0;
  width: 100%;
  margin-bottom: -24px;
  &__col{
    vertical-align: top;
    font-size: 1.6rem;
    margin-bottom: 24px;
    @include PC{
      display: inline-block;
      width: 22%;
      margin-right: 4%;
      &:nth-of-type(4n){
        margin-right: 0;
      }
    }
  }
}
