@include PC{
  .u-spOnly{
    display: none;
  }
}

@include SP{
  .u-pcOnly{
    display: none;
  }
}

.u-taC{ text-align: center !important;}
.u-taL{ text-align: left !important;}
.u-taR{ text-align: right !important;}
.u-vaM{ vertical-align: middle !important;}
.u-vaT{ vertical-align: top !important;}
.u-vaB{ vertical-align: bottom !important;}

@include PC{
  .u-taPcC{ text-align: center !important;}
  .u-taPcL{ text-align: left !important;}
  .u-taPcR{ text-align: right !important;}
  .u-vaPcM{ vertical-align: middle !important;}
  .u-vaPcT{ vertical-align: top !important;}
  .u-vaPcB{ vertical-align: bottom !important;}
}

@include SP{
  .u-taSpC{ text-align: center !important;}
  .u-taSpL{ text-align: left !important;}
  .u-taSpR{ text-align: right !important;}
  .u-vaSpM{ vertical-align: middle !important;}
  .u-vaSpT{ vertical-align: top !important;}
  .u-vaSpB{ vertical-align: bottom !important;}
}
