.dpBlock{display: block;}
.dpInline{display: inline;}
.dpTable{display: table;}
.dpTableCell{display: table-cell;}
.dpInlineBlock{display: inline-block;}

@include PC{
  .dpPcBlock{display: block;}
  .dpPcInline{display: inline;}
  .dpPcTable{display: table;}
  .dpPcTableCell{display: table-cell;}
  .dpPcInlineBlock{display: inline-block;}
}

@include SP{
  .dpSpBlock{display: block;}
  .dpSpInline{display: inline;}
  .dpSpTable{display: table;}
  .dpSpTableCell{display: table-cell;}
  .dpSpInlineBlock{display: inline-block;}
}
