.u-dpBlock{display: block !important;}
.u-dpInline{display: inline !important;}
.u-dpTable{display: table !important;}
.u-dpTableCell{display: table-cell !important;}
.u-dpInlineBlock{display: inline-block !important;}

@include PC{
  .u-dpPcBlock{display: block !important;}
  .u-dpPcInline{display: inline !important;}
  .u-dpPcTable{display: table !important;}
  .u-dpPcTableCell{display: table-cell !important;}
  .u-dpPcInlineBlock{display: inline-block !important;}
}

@include SP{
  .u-dpSpBlock{display: block !important;}
  .u-dpSpInline{display: inline !important;}
  .u-dpSpTable{display: table !important;}
  .u-dpSpTableCell{display: table-cell !important;}
  .u-dpSpInlineBlock{display: inline-block !important;}
}
