.u-fWhite{
  color: #fff !important;
}
.u-fBlack{
  color: #333 !important;
}
.u-fBlue{
  color: #2b96bd !important;
}
.u-fwBold{
  font-weight: bold !important;
}
@include PC{
  .u-pcFwBold{
    font-weight: bold !important;
  }
}
@include SP{
  .u-spFwBold{
    font-weight: bold !important;
  }
}
@for $i from 10 through 40 {
  .u-fz#{$i} {
    font-size: #{$i}px !important;
  }
}
@include PC{
  @for $i from 10 through 40 {
    .u-pcFz#{$i} {
      font-size: #{$i}px !important;
    }
  }
}
@include SP{
  @for $i from 10 through 40 {
    .u-spFz#{$i} {
      font-size: #{$i}px !important;
    }
  }
}
