<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>Tsuyoshi Iwanaga's Portfolio Site</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="/component/css/style.css" media="all">
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
</head>
<body>
  <header id="js-header" class="l-header" role="banner">
    <div class="l-header__content">
      <p class="l-header__logo">
        <a href="/component/"><img src="/component/images/logoImg01.svg"></a>
      </p>
      <p class="l-header__desc u-pcOnly"><span class="c-fRaleway">Tsuyoshi Iwanaga's Portfolio Site</span></p>
      <nav class="l-header__nav" role="navigation">
        <ul class="l-header__globalNav">
          <li><a href="#about" class="l-header__globalNav__link c-fRaleway">ABOUT</a></li>
          <li><a href="#work" class="l-header__globalNav__link c-fRaleway">WORK</a></li>
          <li><a href="#profile" class="l-header__globalNav__link c-fRaleway">PROFILE</a></li>
          <li><a href="#blog" class="l-header__globalNav__link c-fRaleway">BLOG</a></li>
          <li><a href="#contact" class="l-header__globalNav__link c-fRaleway">CONTACT</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <main role="main">
    <section>
      <div class="p-kvArea">
        <p class="p-kvArea__catch js-FadeIn01"><span class="c-fRaleway">Hello there...</span></p>
        <h1 class="p-kvArea__text js-FadeIn01"><span class="c-fRaleway">Tsuyoshi Iwanaga's Portfolio Site</span></h1>
      </div>
      <section>
        <div class="l-container">
          <h2 id="about" class="p-sectionTitle"><span class="c-fRaleway">ABOUT</span></h2>
          <div class="c-textBlock01 u-taC u-taSpL">
            <p>はじめまして、サイトへのご訪問ありがとうございます。<br>福岡でフロントエンジニア兼ディレクターとしてWeb制作に携わっております。</p>
            <p>Web業界はまだ3年目のヒヨッコですが<br>スキルを磨いて偉大な先輩方に追いつけるように勉強中です。</p>
            <p>ゆくゆくは設計(IA)からデザイン、コーディングまで全てこなすことが<br class="u-pcOnly">できるような制作者になることが目標です。</p>
            <p>個人でも制作のご依頼を受け付けておりますので、<br class="u-pcOnly">こちらの<a href="#contact">お問合わせ</a>からご連絡お待ちしております。</p>
          </div>
        </div>
      </section>
      <section class="u-bgBlack">
        <div class="l-container">
          <h2 id="work" class="p-sectionTitle"><span class="c-fRaleway">WORK</span></h2>
          <div class="c-col3Block">
            <div class="c-col3Block__col">
              <div class="c-textBlock01">
                <a href="https://kashikari.herokuapp.com/" target="_blank">
                  <p class="p-balloonTitle">カッシーナとカリンカ(社内サービス)</p>
                  <p><img src="/component/images/work_img01.jpg" alt=""></p>
                  <p class="u-fWhite c-fzSmall">社内ナレッジ共有を目的に、有志数名で書籍の貸出し管理サービスを作成しました。</p>
                </a>
              </div>
            </div>
            <div class="c-col3Block__col">
              <div class="c-textBlock01">
                <a href="http://kyushu-karuta.com/" target="_blank">
                  <p class="p-balloonTitle">九州かるた協会</p>
                  <p><img src="/component/images/work_img02.jpg" alt=""></p>
                  <p class="u-fWhite c-fzSmall">九州かるた協会の新規サイト制作<br>HTML/CSS/javascriptの実装を行いました。</p>
                </a>
              </div>
            </div>
            <div class="c-col3Block__col">
              <div class="c-textBlock01">
                <a href="http://kyushu-karuta.com/" target="_blank">
                  <p class="p-balloonTitle">九州かるた協会</p>
                  <p><img src="/component/images/work_img02.jpg" alt=""></p>
                  <p class="u-fWhite c-fzSmall">九州かるた協会の新規サイト制作</p>
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="l-container">
          <h2 id="profile" class="p-sectionTitle"><span class="c-fRaleway">PROFILE</span></h2>
          <div class="c-col2Block">
            <div class="c-col2Block__col u-pcW25">
              <div class="c-textBlock01">
                <p class="u-spW50 u-m0SpAuto"><img src="/component/images/profile_photo01.jpg" alt=""></p>
              </div>
            </div>
            <div class="c-col2Block__col u-pcW70">
              <div class="c-textBlock01">
                <dl>
                  <dt>&lt;スキル&gt;</dt>
                  <dt>HTML5</dt>
                  <dt>CSS3</dt>
                  <dt>javascrip/jQuery</dt>
                  <dt>案件ディレクション</dt>
                  <dt>PHP(勉強中)</dt>
                  <dt>Ruby(勉強中)</dt>
                </dl>
                <dl>
                  <dt>&lt;経歴&gt;</dt>
                  <dt>2014.03 九州大学 文学部を卒業</dt>
                  <dt>2014.04 東京にて就職</dt>
                  <dt>2015.03 Web制作会社に転職</dt>
                </dl>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="u-bgBlack">
        <div class="l-container">
          <h2 id="blog" class="p-sectionTitle"><span class="c-fRaleway">BLOG</span></h2>
          <div class="c-col3Block">
            <div class="c-col3Block__col">
              <div class="c-textBlock01">
                <p><a href="https://kashikari.herokuapp.com/" target="_blank">カッシーナとカリンカ</a></p>
              </div>
            </div>
            <div class="c-col3Block__col">
              <div class="c-textBlock01">
                <p><a href="http://kyushu-karuta.com/" target="_blank">九州かるた協会</a></p>
              </div>
            </div>
            <div class="c-col3Block__col">
              <div class="c-textBlock01">
                <p><a href="https://kashikari.herokuapp.com/" target="_blank">カッシーナとカリンカ</a></p>
              </div>
            </div>
            <div class="c-col3Block__col">
              <div class="c-textBlock01">
                <p><a href="https://kashikari.herokuapp.com/" target="_blank">カッシーナとカリンカ</a></p>
              </div>
            </div>
            <div class="c-col3Block__col">
              <div class="c-textBlock01">
                <p><a href="https://kashikari.herokuapp.com/" target="_blank">カッシーナとカリンカ</a></p>
              </div>
            </div>
            <div class="c-col3Block__col">
              <div class="c-textBlock01">
                <p><a href="https://kashikari.herokuapp.com/" target="_blank">カッシーナとカリンカ</a></p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="l-container">
          <h2 id="contact" class="p-sectionTitle"><span class="c-fRaleway">CONTACT</span></h2>
          <div class="c-textBlock01">
            <p>お問合わせは下記フォームからお願いいたします。</p>
            <form action="#">
              <p>お名前</p>
              <input type="text">
              <p>メールアドレス</p>
              <input type="text">
              <p>お問合わせ内容</p>
              <textarea></textarea>
            </form>
          </div>
        </div>
      </section>
    </section>
  </main>
  <footer class="l-footer" role="contentinfo">
    <div class="l-container">
      <p class="l-footer__copy">Copyright&copy; Tsuyoshi Iwanaga. All rights reserved.</p>
    </div>
  </footer>
  <script src="/component/js/jquery-3.2.1.min.js"></script>
  <script src="/component/js/common.js"></script>
</body>
</html>
