<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="./css/style.css">
<title>TextSizeSample</title>
</head>
<body style="padding: 16px;font-family:-apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Segoe UI','Noto Sans Japanese','ヒラギノ角ゴ ProN W3', Meiryo, sans-serif;">
<div class="container" style="font-size:20px;line-height:1.5; margin-bottom:36px;">
  <div class="container__inner">
    <p style="margin-bottom: 1em">Webサイトで表示するフォントは閲覧するユーザーの環境に依存しています。</p>
    <p style="margin-bottom: 1em">Webフォントの日本語は有料サービスなどが多いですが、『Noto Sans Japanese』はAdobeとGoogleが共同開発したフォントで無料で使用できますし、私は『源ノ角ゴシック』というフォントでインストールして使用しています。</p>
    <p style="margin-bottom: 1em">このフォントを指定する場合は別途HTMLに以下を記載した上で指定してくださいね。</p>
  </div>
</div>
<div class="container" style="font-size:18px;line-height:1.5; margin-bottom:36px;">
  <div class="container__inner">
    <p style="margin-bottom: 1em">Webサイトで閲覧するユーザー</p>
    <p style="margin-bottom: 1em">Webフォントの日本語は有料サービスなどが多いですが、『Noto Sans Japanese』はAdobeとGoogleが共同開発したフォントで無料で使用できますし、私は『源ノ角ゴシック』というフォントでインストールして使用しています。</p>
    <p style="margin-bottom: 1em">このフォントを指定する場合は別途HTMLに以下を記載した上で指定してくださいね。</p>
  </div>
</div>
<div class="container" style="font-size:16px;line-height:1.5; margin-bottom:36px;">
  <div class="container__inner">
    <p style="margin-bottom: 1em">Webサイトで表示するフォントは閲覧するユーザーの環境に依存しています。</p>
    <p style="margin-bottom: 1em">Webフォントの日本語は有料サービスなどが多いですが、『Noto Sans Japanese』はAdobeとGoogleが共同開発したフォントで無料で使用できますし、私は『源ノ角ゴシック』というフォントでインストールして使用しています。</p>
    <p style="margin-bottom: 1em">このフォントを指定する場合は別途HTMLに以下を記載した上で指定してくださいね。</p>
  </div>
</div>
<div class="container" style="font-size:14px;line-height:1.5; margin-bottom:36px;">
  <div class="container__inner">
    <p style="margin-bottom: 1em">Webサイトで表示するフォントは閲覧するユーザーの環境に依存しています。</p>
    <p style="margin-bottom: 1em">Webフォントの日本語は有料サービスなどが多いですが、『Noto Sans Japanese』はAdobeとGoogleが共同開発したフォントで無料で使用できますし、私は『源ノ角ゴシック』というフォントでインストールして使用しています。</p>
    <p style="margin-bottom: 1em">このフォントを指定する場合は別途HTMLに以下を記載した上で指定してくださいね。</p>
  </div>
</div>
<div class="container" style="font-size:12px;line-height:1.5; margin-bottom:36px;">
  <div class="container__inner">
    <p style="margin-bottom: 1em">Webサイトで表示するフォントは閲覧するユーザーの環境に依存しています。</p>
    <p style="margin-bottom: 1em">Webフォントの日本語は有料サービスなどが多いですが、『Noto Sans Japanese』はAdobeとGoogleが共同開発したフォントで無料で使用できますし、私は『源ノ角ゴシック』というフォントでインストールして使用しています。</p>
    <p style="margin-bottom: 1em">このフォントを指定する場合は別途HTMLに以下を記載した上で指定してくださいね。</p>
  </div>
</div>
<div class="container" style="font-size:10px;line-height:1.5; margin-bottom:36px;">
  <div class="container__inner">
    <p style="margin-bottom: 1em">Webサイトで表示するフォントは閲覧するユーザーの環境に依存しています。</p>
    <p style="margin-bottom: 1em">Webフォントの日本語は有料サービスなどが多いですが、『Noto Sans Japanese』はAdobeとGoogleが共同開発したフォントで無料で使用できますし、私は『源ノ角ゴシック』というフォントでインストールして使用しています。</p>
    <p style="margin-bottom: 1em">このフォントを指定する場合は別途HTMLに以下を記載した上で指定してくださいね。</p>
  </div>
</div>
</body>
</html>
